---
---

@import "{{ site.theme }}";

body {
  font-family: HelveticaNeue, AppleSDGothicNeo-Regular, Arial, sans-serif;
  color: rgb(48, 48, 56);
}

@media screen and (max-width: 42em) {
  .main-content {
    font-size: 17px;
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

.page-header a { color: #fff; }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 1.5rem;
}

.main-content a {
  text-decoration: underline;
}

.main-content a:hover {
  text-decoration: none;
}

.main-content h1, b, strong {
  font-weight: 600;
}

.main-content blockquote {
  color: #606c71;
  margin-right: 0;
}
