<!DOCTYPE html>
<html lang="{{ site.lang | default: " ko-KR" }}">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-84Z9ZJF62P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-84Z9ZJF62P');
  </script>
  <meta charset="UTF-8">

  {% if page.title == %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  {% seo title=false %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

  <link rel="icon" type="image/png" href="/assets/favicon/favicon-48x48.png" sizes="48x48" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    {% unless page.nocomment == true %}
    <script src="https://giscus.app/client.js" data-repo="jryu/jryu.github.io"
      data-repo-id="MDEwOlJlcG9zaXRvcnk0NDY1OTEwOQ==" data-category="Announcements"
      data-category-id="DIC_kwDOAqlxpc4CjGmG" data-mapping="pathname" data-strict="0" data-reactions-enabled="0"
      data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="ko" data-loading="lazy"
      crossorigin="anonymous" async>
      </script>
    {% endunless %}
  </main>
</body>

</html>
